[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pynvim = "*"
pyodbc = "*"
mysql-connector-python = "*"
pyserial = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
